.button {
  align-self: center;
  font: inherit;
  padding: 0.25rem 1.25rem;
  border: 1px solid #8b005d;
  color: white;
  background: #9b4e60;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  border-radius: 1rem;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #b9679d;
  border-color: #ac0e77;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}