.card {
    margin: auto;
    margin-top: 3em;
    width: 50%;
    position:center;
    padding: 2rem;
    background: rgb(230, 201, 201);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    font-family: cursive;
    font-size: smaller;
    word-break: break-all;
    overflow: hidden;
    
  }
